Marcas_Nahuel/2n Trimestre/DTD/Robert_Torrent_Nahuel_DTD1_3.dtd

<!ELEMENT entrega (lote+)>
<!ELEMENT lote (pale+)>
<!ELEMENT pale (numerocajas, contenido, peso, formamanipulacion)>
<!ELEMENT contenido (nombre, procedencia?, numeroserie, pesoindividual, unidadpeso)>
<!ELEMENT numerocajas (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT formamanipulacion (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT procedencia (#PCDATA)>
<!ELEMENT numeroserie (#PCDATA)>
<!ELEMENT pesoindividual (#PCDATA)>
<!ELEMENT unidadpeso (#PCDATA)>