Marcas_Nahuel/2n Trimestre/DTD2/Robert_Torrent_Nahuel_DTD2_1.dtd

<!ELEMENT ficheros (listafacturas)>
<!ELEMENT listafacturas (factura+)>
<!ELEMENT factura (fecha?, emisor, cif, pagador, importe)>
<!ELEMENT emisor (nombre, volumenventas?)>
<!ELEMENT pagador (nombre, volumenventas?)>
<!ATTLIST factura fecha ID #REQUIRED>
<!ELEMENT cif (#PCDATA)>
<!ELEMENT importe (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT volumenventas (#PCDATA)>
