Marcas_Nahuel/2n Trimestre/DTD4/Robert_Torrent_Nahuel_DTD4_3.dtd

<!ELEMENT concesionario (modelo*)>
<!ELEMENT modelo (descripcion, motor, relacionados?)>
<!ATTLIST modelo
    referencia CDATA #REQUIRED>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT motor (referencia, potencia, consumo*)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT consumo (#PCDATA)>
<!ELEMENT relacionados (modelo_ref+)>
<!ELEMENT modelo_ref (#PCDATA)>
